.body{
  padding: 10px;
  justify-content: center;
  
}
.logodiv{
  position: relative;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  
}
.heartimg, .nameimg{
  position: relative;
  width: 150px; 
  height: 180px;
}
.tagline{
  font-style: italic;
  font-size: medium;
}
